<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

    <servlet>
        <servlet-name>Halo</servlet-name>
        <servlet-class>com.muhardin.endy.absensi.web.HaloServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Halo</servlet-name>
        <url-pattern>/halo.php</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DaftarKehadiran</servlet-name>
        <servlet-class>com.muhardin.endy.absensi.web.DaftarKehadiranServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DaftarKehadiran</servlet-name>
        <url-pattern>/kehadiran/list</url-pattern>
    </servlet-mapping>

</web-app>